.favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    color: red;
}

.title-text {
    color: #4a4a4a;
    text-decoration: none;
}

a .title-text {
    color: #4a4a4a;
    text-decoration: none;
}