

.movie-card {
    
    .favorite-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .heart {
        color: red;
    }
    
    .card-body a {
        color: #4a4a4a;
        text-decoration: none;
    }
    
    a .title-text {
        color: #4a4a4a;
        text-decoration: none;
    }
    
    .card-text {
        color: #4a4a4a;
        font-size: 16px;
    }
}